.controls {
    position: fixed;
    bottom: 12px;
    right: 18px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    &__button {
      min-width: 36px;
      min-height: 36px;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #c4c4c4;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      z-index: 2;
    }
    &__input {
      margin: 8px;
      padding: 0 8px;
      height: 20px;
      border-radius: 10px;
      border: none;
      width: 107px;
      z-index: 1;
      display: none;
      &:focus-visible {
        outline: none;
      }
      &_visible {
        display: block;
      }
    }
  }
  .control {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 18px;
    background-color: #c4c4c4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    & select {
      margin-left: 0;
    }
    & input {
      margin-right: 0;
    }
  }
  