.branch {
    &__title {
      width: 67px;
      height: 36px;
      background-color: #2e465c;
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      padding: 9px 12px;
      position: relative;
    }
  }
  .parent-branch {
    padding: 16px 0 0 24px;
    margin-left: 12px;
    border-left: 2px solid #999999;
    & .branch > .branch__title {
      &::before {
        content: "";
        position: absolute;
        top: 18px;
        left: -25px;
        width: 25px;
        height: 2px;
        display: flex;
        background-color: #999999;
      }
    }
    & .parent-branch:nth-last-child(1) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 26px;
      row-gap: 16px;
      border-left: 2px solid #999999;
      margin: 0 0 18px 12px;
    }
  }
  